<article class="post">
  <div class="title"><h3>{{title}}</h3>
  <div class= "contents"><h3>"{{post_contents}}" ></h3>
    {{!-- <span>({{format_url post_url}})</span> --}}
  </div>
  <div class="meta">
 Created by {{user.username}} on {{format_date created_at}}
  |
  <a href="/post/{{id}}">{{contents.length}} {{format_plural "contents" contents.length}}</a>
</div>
</article>